{
  "printWidth": 900,                 
  "tabWidth": 2,                     
  "useTabs": false,                  
  "semi": false,                     
  "singleQuote": true,               
  "quoteProps": "as-needed",         
  "jsxSingleQuote": false,           
  "trailingComma": "none",           
  "bracketSpacing": true,            
  "bracketSameLine": false,          
  "arrowParens": "avoid",            
  "rangeStart": 0,                                  
  "requirePragma": false,            
  "insertPragma": false,             
  "proseWrap": "preserve",          
  "htmlWhitespaceSensitivity": "css", 
  "vueIndentScriptAndStyle": false,   
  "endOfLine": "auto",               
  "embeddedLanguageFormatting": "auto", 
  "singleAttributePerLine": false    
}
